@import 'styles/sass/abstracts/mixins';

.neon {
  &_componentSpacing {
    @include toRem('padding-bottom', 50);
    @include respond-to('tab') {
      @include toRem('padding-bottom', 180);
    }
  }
  &_heading {
    font-weight: normal;
    text-align: center;
    @include toRem('font-size', 50);
    @include toRem('margin-bottom', 60);
    @include toRem('line-height', 60);
    @include respond-to('tab') {
      @include toRem('font-size', 80);
      @include toRem('line-height', 80);
      @include toRem('padding-bottom', 10);
    }
  }
  &_subHeading {
    font-weight: normal;
    text-align: center;
    @include toRem('margin', 50 0 10 0);
    @include toRem('line-height', 45);
  }

  &_cardWrapper {
    text-align: justify;
    display: flex;
    flex-direction: column;
    @include toRem('border-radius', 10);
    @include toRem('margin-top', 120);
    @include toRem('padding', 20);
    @include respond-to('tab') {
      height: 100%;

      @include toRem('margin-bottom', -120);
      @include toRem('margin-top', 110);
    }
  }
  &_cardHeading {
    font-weight: bold;
    text-align: justify;
    font-weight: 200;
    @include toRem('margin', 20 0 10);
    @include toRem('font-size', 32);
    @include toRem('line-height', 40);
    @include respond-to('tab') {
      @include toRem('font-size', 36);
      @include toRem('line-height', 48);
    }
  }
  &_cardSubTitle {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    @include toRem('margin', 20 0 12 0);
    @include toRem('line-height', 26);
  }
  &_cardImage {
    @include toRem('max-width', 174);
    height: auto;
    @include toRem('margin-top', -110);
  }
  &_cardIcon {
    @include toRem('width', 70);
    @include toRem('height', 70);
  }
  &_cardCTA {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    min-width: 90%;
    @include toRem('margin', 40 0);
    @include toRem('padding', 7 30);
    @include toRem('border-radius', 8);
    @include toRem('font-size', 18);
    @include respond-to('tab') {
      @include toRem('font-size', 30);
    }
  }
  &_readMore {
    @include toRem('font-size', 18);
    @include respond-to('desktop') {
      @include toRem('font-size', 30);
    }
  }
}

.rteContent {
  &_componentDescription {
    p {
      text-align: center;
      @include toRem('font-size', 18);
      @include toRem('line-height', 27);
    }
  }
  &_description {
    p {
      @include toRem('line-height', 23);
      @include toRem('padding', 20);
      @include toRem('font-size', 16);
    }
  }
}
