@import 'styles/sass/variables/variables';
@import 'styles/sass/abstracts/mixins';

.wrapper {
  @include toRem('min-height', 120);
}

.titleWrapper {
  background-color: $lightgray;
  color: $charcoal;
  @include toRem('padding-left', 10);
  overflow-wrap: anywhere;
}

.changeButton {
  user-select: all;
  white-space: nowrap;
  color: $captchaLinks !important;
  &:hover {
    color: $charcoal !important ;
  }
}
.detailsWrapper {
  @include toRem('padding-left', 10);
  @include toRem('font-size', 14);
  > * {
    @include toRem('font-size', 14);
  }
}

.description {
  overflow-wrap: anywhere;
}
