@import 'styles/sass/variables/variables';
@import 'styles/sass/abstracts/mixins';

.changeUsername {
  &_description{
    @include toRem('font-size', 14);
    @include toRem('margin', 10 0);
  }
  &_warningIcon {
    cursor: pointer;
    position: absolute;
    margin: revert;
    @include toRem('top', -15);
    @include toRem('left', 100);
  }
  &_spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($white, 0.5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
