@import 'styles/sass/variables/variables';
@import 'styles/sass/abstracts/mixins';

.field_rep_sign_up_details_wrapper {
  h1 {
    @include toRem('font-size', 36);
    font-family: 'omnes-pro', sans-serif;
  }

  p {
    @include toRem('font-size', 14);
    margin: 0;
  }

  .sponsor_info {
    @include fieldRepSectionInfo($white);
  }

  div.description {
    > div {
      @include fieldRepSectionInfo($white);
    }

    > div:nth-child(odd) {
      background-color: $lightgray;
    }
  }
}
