@import 'styles/sass/abstracts/mixins';
@import 'styles/sass/variables/variables';

.pagination {
  border: 1px solid $globalsearchborder;
  background-color: $globalsearchbg;
  @include toRem('margin-top', 20);
  @include toRem('font-size', 12);
  @include toRem('padding', 6);
  .pageCTA {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:active {
      color: inherit;
      background-color: inherit;
      border-color: inherit;
    }
    &:focus-visible {
      box-shadow: inherit;
    }
    &_active {
      color: $black;
    }
    &:hover {
      color: $black;
    }
  }
  &_ctaWrapper {
    margin: 0;
    color: $globalsearchcolor;
    @include toRem('font-size', 12);
  }
}
