@import 'styles/sass/variables/variables';
@import 'styles/sass/abstracts/mixins';

.resetPasswordText {
  @include toRem('font-size', 14);
  @include toRem('line-height', 20);
}

.errorList {
  width: 50%;
  @include respond-to('all-mobile') {
    width: 100%;
  }
}

.errors {
  @include toRem('margin-top', 10);
  color: $red;
}

.formFieldWrapper {
  @include respond-to('all-mobile') {
    flex-direction: column;
  }
}

.labelWrapper {
  @include respond-to('tab') {
    text-align: right;
  }
}
