@import 'styles/sass/variables/variables';
@import 'styles/sass/abstracts/mixins';

.thumbnail {
  height: 100%;
  border: none;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.06);
  background-color: $productTileBackground;
  transition: background-color 0.3s ease;
  @include toRem('padding', 20 5);
  @include toRem('border-radius', 10);
  &:hover {
    background-color: $white;
  }
}

.captionWrapper {
  @include toRem('min-height', 80);
}

.caption {
  @include toRem('font-size', 22);
  @include toRem('padding', 15 15 5);
  font-weight: bold;
}

.description {
  overflow: hidden;
  display: block;
  text-align: center;
  @include toRem('min-height', 112);
  @include toRem('margin-bottom', 10);
  @include toRem('font-size', 16);
}

.wrapper {
  height: 100%;
  display: block;
  @include toRem('padding-bottom', 30);
}

.linkWrapper {
  text-decoration: none;
  color: $productTileText;
  height: 100%;
  @include toRem('padding-bottom', 30);
  display: block;
  &:hover {
    color: $productTileText;
  }
}

.price {
  @include toRem('font-size', 18);
  font-weight: bold;
  font-family: foco, 'Mongolian Baiti', Arial;
}

.outstock {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    @include toRem('height', 30);
    @include toRem('margin', 0 10);
    @include toRem('border-radius', 2);
    @include toRem('font-size', 14);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.imageWrapper {
  margin: 0 auto;
  @include toRem('width', 160);
  @include toRem('height', 160);

  > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
