@import 'styles/sass/abstracts/mixins';

.ctaContainer {
  &_imageContainer {
    img {
      width: 100%;
      height: auto;
    }
  }
  &_content {
    @include toRem('padding', 0 18);
    width: fit-content;
    border-radius: 22px;
  }
  &_link{
    cursor: pointer;
  }
  &_linktxt {
    @include toRem('font-size', 16);
    @include toRem('line-height', 22);
    font-weight: 400;
    color: #1cbac8;
  }
}
